<h1>Edit Task</h1>
<%= form_with model: @task, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :category %>
  <%= form.collection_select :category_id, Category.all, :id, :name %>
  <%= form.submit 'Update Task' %>
<% end %>
